@model ContactCreateDto
@{
    Layout = "../Shared/_Layout.cshtml";
}


@section title {
    İletişim | enesbiricik.com
}



<div class="commentDiv mt-3">
    <div class="m-3">
        <h4 class="head">
            Benimle İletişime Geç
        </h4>
    </div>
    <div>
        <form asp-action="Contact" method="post" asp-controller="Home">
                <input type="hidden" name="SpamControl">

            <div class="form-group">
                <input asp-for="@Model.Name" type="text" placeholder="Ad Soyad" class="inputS mx-2 py-3 my-1 px-3">
                <br />
                <span class="px-4" style="color:red;font-weight:bold;" asp-validation-for="@Model.Name"></span>
            </div>

            <div class="form-group">
                <input asp-for="@Model.EmailAddress" type="email" placeholder="Email" class="inputS mx-2 py-3 my-1 px-3">
                <br />
                <span class="px-4" style="color:red;font-weight:bold;" asp-validation-for="@Model.EmailAddress"></span>
            </div>

            <div class="form-group">
                <input asp-for="@Model.Subject" type="text" placeholder="Konu" class="inputS mx-2 py-3 my-1 px-3">
                <br />
                <span class="px-4" style="color:red;font-weight:bold;" asp-validation-for="@Model.Subject"></span>
            </div>

            <div class="form-group">
                <textarea asp-for="@Model.Message" placeholder="Mesaj" rows="7" style="min-height: 6rem;" class="inputS mx-2 py-3 my-1 px-3"></textarea>
                <br />
                <span class="px-4" style="color:red;font-weight:bold;" asp-validation-for="@Model.Message"></span>
            </div>

            <div class="my-3">
                <input class="btnGonder m-auto p-1" type="submit" name="" id="" value="GÖNDER">
            </div>
        </form>
    </div>
</div>

