@model List<ProjectListDto>
@{
    Layout = "../Shared/_PanelLayout.cshtml";
}

@section title
    {
    enesbiricikcom | Projects
}

@section PageHeader
    {
    Projects
}



@section links{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" />
    <style>
        tr, th {
            padding: 10px;
        }

        thead {
            color: white;
            background-color: #4e73df;
        }

        tbody {
            font-size: large;
        }
    </style>
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Cover Photo</th>
                        <th>Description</th>
                        <th>Live Demo Link</th>
                        <th>Github Link</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0)
                    {
                        foreach (var project in Model)
                        {

                            <tr>
                                <td>@project.Name</td>
                                <td><img style="width:10rem;" src="~/img/gallery/@project.CoverPhoto"/></td>
                                <td>@project.Description</td>
                                <td>@project.LiveDemoLink</td>
                                <td>@project.GithubLink</td>
                                <td>@project.Date</td>
                                <td>
                                    <a class="btn btn-info" asp-action="ProjectUpdate" asp-controller="Dashboard" asp-route-id="@project.Id">Düzenle</a>
                                    <button type="button" class="btn btn-danger" onclick="ProjectDelete(@project.Id , this)">Sil</button>
                                </td>

                            </tr>
                        }
                    }
                    else
                    {
                        <span style="display:none" class="infoAlert">You don't have any Content !'</span>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts{

    <script>


        $(document).ready(function () {
            $('#dataTable').DataTable({
                "order": [[0, "asc"]],
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.5/i18n/tr.json',
                }
            });
        });

        function ProjectDelete(id, element) {
            if (confirm("Are you sure delete it?")) {
                $.ajax({
                    url: '/Dashboard/ProjectDelete',
                    method: 'POST',
                    data: { 'Id': id },
                    success: function (result) {
                        if (result == true) {
                            element.parentElement.parentElement.remove()
                            toastr.success("Project is Deleted")
                        }
                        else {
                            toastr.error("Something went wrong ")
                        }
                    },
                    error: function () {
                        toastr.error("Something went wrong ")
                    }
                });
            }



        }
    </script>
    }